* {
    -webkit-user-select: none; 
    -webkit-touch-callout: none; 
    user-select: none;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #111;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin: 0;
}

.container {
    background: #1d1d1d;
    padding: 15px;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}


.top-row {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.game-screen {
    position: relative;
    width: 512px;
    height: 256px;
    border: 6px solid #2d2d2d;
    border-radius: 2px;
    overflow: hidden;
    background: #000;
    image-rendering: crisp-edges;   
}

#game-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    image-rendering: pixelated;
}

.hud {
    display: flex;
    align-items: center;
    gap: 3px;

    background: #000000;
    color: #00ff0d;

    padding: 3px 5px;

    font-family: monospace;
    font-size: 0.75em;
    letter-spacing: 0.25px;
}

.hud b {
    font-family: monospace;
    color: #e0f2fe;
    font-weight: 300;
}

/* ============ Controls (Jump / Slide) ============ */

.controls {
    display: flex;
    justify-content: space-between;
}

/* ============ Buttons ============ */

.btn {
    font-size: 1em;
    width: 45px;
    height: 45px;
    border: none;
    cursor: pointer;
    background: #4b4b4b;
    color: #000000;
}

.btn-reset.active {
    background: #ececec;
}

.btn-jump.active {
    background: #ececec;
}

.btn-slide.active {
    background: #ececec;
}

.hidden {
    display: none;
}